*{
    box-sizing: border-box; /*Hace que el padding y los bordes se incluyan en las dimensiones totales de un elemento. Esto evita que el contenido de un elemento se desborde al sumar el padding o el borde*/
}

html{
    scroll-behavior: smooth; /*Hace que el desplazamiento dentro de la página sea suave*/
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
li{ font-size: 1.25em;}
table 
{font-size: 1.25em;
 align-items: center;
 display: flex;
}

header{
    background-color: rgb(245,245,245);
    
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("./imagenes/fondo\ 7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color:white;
}

#sobre-mi .container {
    text-align: center;
    
   
}

#sobre-mi .container h3 {
    color: blueviolet;
    
}

#experiencia, #education, #trabajos-realizados {
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#habilidades-conocimientos, #perfiles-sociales, #contactar {
    background-color: white;
    color: black;
    text-align: center;
}

#habilidades-conocimientos ul {
    list-style: none;

}

.logo, .carpeta{
    width: 100px; /* Ancho deseado de la imagen */
    border-radius: 10%;
    margin-right: 15px;
        
}

/*para centrar contenido de tablas*/
#education .container, #experiencia .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* para mejorar visual de tablas*/
#education table th, #education table td, #experiencia .container table th, #experiencia .container table td {
    padding: 10px 20px; /* Espacio interno arriba/abajo y izquierda/derecha */
}

form {
    background-color: rgb(163, 149, 175); /* Color de fondo del formulario */
    padding: 20px; /*establece el área de relleno en los cuatro lados de un elemento a la vez.*/
    border-radius: 8px; /*redondea las esquinas del borde exterior de un elemento*/
    width: 300px;
    color: black; /*de la letra del elemento form*/
    align-items: center; /*Centrar las alineaciones de todos los elementos del elemento form*/
}

#contactar .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

/* Estilos específicos para tabletas en modo vertical y dispositivos con anchos mayores */
@media (min-width: 768px) {
    
  
    table 
    {
     
        width: 100%;  /* Ajusta la tabla al 100% del contenedor */
        max-width: 100%; /* Asegura que no sobrepase el ancho del contenedor */
        margin: 0 auto;  /* Centra la tabla */
        border-collapse: collapse; /* Evita el espacio entre celdas */
    }

    
    header{

        position: fixed;
        width: 100%;
        align-items: center center;
        
    }
    
    
    header .container{
        flex-direction: row;
        justify-content: space-between;
    
    }
    
    header nav{
        display: flex;
        flex-direction: row; /* Cambiado de column a row */
        justify-content: center; /* Centra los elementos horizontalmente */
        padding-bottom: 25px;
    }
    
    
    #hero h1{
        font-size: 5em;
    }
    
    #sobre-mi .container {
        max-width: 1200px; /* Limitar el ancho máximo del contenedor */
        margin: 0 auto;    /* Centrar el contenedor */
        padding: 100px 12px; /* Reducir el padding vertical */
    }
    
    #experiencia, #education, #trabajos-realizados {
        background-color: rgb(30,30,30);
        color: white;
        text-align: center;

        padding: 20px;
        width: 100%;
        max-width: 1200px; /* Limita el ancho máximo de la sección */
        margin: 0 auto; /* Centra la sección */
    }
    
    #habilidades-conocimientos, #perfiles-sociales, #contactar {
        background-color: white;
        color: black;
        text-align: center;

        padding: 20px;
        width: 100%;
        max-width: 1200px; /* Limita el ancho máximo de la sección */
        margin: 0 auto; /* Centra la sección */
    }
    
    #habilidades-conocimientos ul {
        list-style: none;
    
    }
    
    .logo, .carpeta{
        width: 100px; /* Ancho deseado de la imagen */
        border-radius: 10%;
        margin-right: 15px;
            
    }
    
    /*para centrar contenido de tablas*/
    #education .container, #experiencia .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    /* para mejorar visual de tablas*/
    #education table th, #education table td, #experiencia .container table th, #experiencia .container table td {
        padding: 10px 20px; /* Espacio interno arriba/abajo y izquierda/derecha */
        word-wrap: break-word; /* Permite que el texto largo se ajuste dentro de las celdas */
    }
    
    form {
        background-color: rgb(163, 149, 175); /* Color de fondo del formulario */
        padding: 20px; /*establece el área de relleno en los cuatro lados de un elemento a la vez.*/
        border-radius: 8px; /*redondea las esquinas del borde exterior de un elemento*/
        width: 300px;
        color: black; /*de la letra del elemento form*/
        align-items: center; /*Centrar las alineaciones de todos los elementos del elemento form*/
    }
    
    #contactar .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    footer{
        background-color: rgb(230,230,230);
    }
    
    footer p{
        margin: 0;
        padding: 12px;
        color: rgb(100,100,100);
    }
    
    footer .container{
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    
    }
}


